{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}

  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}

  {% set description = config.description %}

  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <section class="section container-fluid mt-n3 pb-3">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h1 class="mt-0">{{ section.title | default(value="Modern Documentation Theme") }}</h1>
        </div>
        <div class="col-lg-9 col-xl-8 text-center">
          <p class="lead">{{ section.extra.lead | default(value="Please start setting config.toml and adding your content.") | safe }}</p>
          <!--
          <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ get_url(path=section.extra.url | default(value="/")) | safe }}" role="button">{{ section.extra.url_button | default(value="Get started") }}</a>
          <p class="meta">{{ section.extra.repo_license | default(value="MIT")}} <a href="{{ section.extra.repo_url | default(value="https://github.com/aaranxu/adidoks") | safe }}">{{ section.extra.repo_version | default(value="0.1.0") }}</a></p>
          -->
        </div>
      </div>
    </section>
  </div>
</div>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      {% if section.extra.list %}
        {% for val in section.extra.list %}
        <div class="col-lg-5">
          <h2 class="h4">{{ val.title }}</h2>
          <p>{{ val.content | safe }}</p>
        </div>
        {% endfor %}
      {% else %}

        <div class="row-lg-1">
          <iframe
            class="video"
            src="https://www.youtube.com/embed/3J_42C6xuNM?si=qKie6uvErBkTF6RW"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
          </iframe>
        </div>

        <div class="col-lg-5">
          <h2 class="h4">Effortless Setup</h2>
          <p>Install a fully-functional application with an embedded Solana test validator in a single click.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Fast by default ⚡️</h2>
          <p>Luzid operates directly on the embedded test validator, using slower transactions only when needed.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Enhanced Test Validator</h2>
          <p>Access the complete suite of Solana test validator features, augmented with unique enhancements for seamless development.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Clone Accounts and Programs</h2>
          <p>Effortlessly replicate accounts and programs from devnet or mainnet in under a second, without validator restarts.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Flexible State Management</h2>
          <p>Save and restore snapshots of account states without restarting the validator.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Dynamic Validator Control</h2>
          <p>Start and stop the validator as needed without impacting the application, enabling efficient testing and experimentation.</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<!--
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9"></div>
  </div>
</section>
-->
{% endblock content %}
